body {
    margin: 0;
    padding: 0;
    font-family: 'K2D', 'Raleway', sans-serif;
   
}

h1 {
    font-weight: 800;
}



/* navbar */

.navbar { 
  background: #fff;
}

.nav-link, .navbar-brand { 
  color: #50dc4b; 
  cursor: pointer;
}

.nav-link { 
  font-weight: normal;
  color: #50dc4b;
  
}

.nav-link:hover { 
  color: #21951d;
  background: transparent;
}

/*.nav-link.active {*/
/*    border-bottom: 1px solid red;*/
/*}*/

.navbar-collapse {
 justify-content: center;
}

/* Hamburger menu */

.navbar-toggler {  
    background: #fff;
    padding: 0.2rem;
    margin-bottom: 3rem;
}

.navbar-toggler .icon-bar {
    background-color: #50dc4b;
    display: block;
    padding: .1rem 1rem .1rem 1rem;
    margin: .3rem;
    border-radius: 1rem;
}

.navbar-toggler:hover {
    background-color: #50dc4b;
}

.navbar-toggler:hover .icon-bar {
    background-color: #fff;
}


/* header */

.header {
 background-attachment: fixed;
 background-size: cover;
 background-position: center;
 position: relative;
 min-height: 350px;
    
}

.overlay {
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(243, 243, 243, 0.75);
}

.page-title {
    position: relative;
    display: block;
}


#home {
    background-image: url("../images/header1.jpg");
}

#physiotherapy {
    background-image: url("../images/header2.jpg");
}

#pilates {
    background-image: url("../images/header3.jpg");
}

#facilities {
    background-image: url("../images/header4.jpg");
}

#about-us {
    background-image: url("../images/header5.jpg");
}

#contact-us {
    background-image: url("../images/header6.jpg");
}



/* Intro */

.description {
}

.line-text {
    margin: auto;
}

/* containers */

.container-home {
    padding-left: 0px;
    padding-right: 0px;
}

.container-footer {
    padding-left: 0px;
    padding-right: 0px;
}

.container-contact-icons {
    background-color: #f8f9fa;
    padding: 3rem;
}

.container-contact-form {
    padding: 3rem;
    
}


.slogan {
    margin-left: 3rem;
    padding-left: 3rem;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    transition: transform 2s;
}

.slogan:hover {
    transform: rotate(365deg);
}

.ping {
    margin-right: 3rem;
    padding-right: 3rem;
}

/* animation shake-horizontal */

.ping:hover {
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}


/* Pilates */

.calendar {
    margin-bottom: 3rem;
    padding: 3rem;
}



/* Contact Us */
.icon-box {
    color: #50dc4b;
    transition: all .4s ease-in;
}

.box:hover .icon-box i {
    color: #21951d;
    transition: all .4s ease-in;
}



/* Footer */

/*.info-footer {*/
/*    background-color:  #ffffe6;*/
/*}*/


/* Social Links */

.social-links {
    background-color:#ffffe6;
}

.social-link {
    color: #50dc4b;
}

.social-link:hover {
    color: #21951d;
    background: transparent;
}


.appointment-phone {
    padding-right: 25px;
}

.privacy {
    margin-bottom: 0px;
}
.privacy-links {
    padding-right: 25px;
}

.privacy-link {
    color: #50dc4b;
}

.privacy-link:hover {
    color: #21951d;
}

.block-divider {
    margin: 0rem 0rem 1rem 0rem;
}

.footer-copyright a {
    color: #50dc4b;
    text-decoration: none;
}

.footer-copyright:hover {
   background-color: #21951d;
   transition: background-color 1s;
}



/* ---- Media Queries ---- */


/* Mobile */

@media only screen and (max-width: 767px) {
    .logo {
        width: 100px;
        height: 100px;
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        padding: .1rem;
    }
    
    .navbar-nav {
        margin-left: 2rem;
        padding-left: 2rem;
    }
    
    .map iframe {
        margin-top: 3rem;
    }
}

/* Tablet */

@media (min-width: 768px) { 
    .navbar-nav {
        margin-left: 2rem;
        padding-left: 2rem;
    }
    .navbar-toggler {
        margin-right: 2rem;
    }
}

/* Desktop */

@media only screen and (min-width: 961px) {
    
    .nav-link { 
        padding: 1rem 0rem 1rem 1rem;
        transition: border-bottom 1s ease; 
    }

    .nav-link::after {
        content: '';
        border-right: 1px solid #50dc4b;
        margin-left: 1rem;
    }
    
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0rem;
    }
    
    .navbar-nav .nav-item:last-child .nav-link::after {
        border-right: none ;
    }
    
    .nav-link:hover { 
        border-bottom: 1px solid #50dc4b;
        padding-right: 0rem;
    }
    
    .fisio {
    padding-bottom: 1rem;
    margin: auto;
    display: block;
    }
}

