/* Colors */
To do: 
- bg colors sections
- pallette
white
black
grey
green


/* General Styles */

body {
    font-family: 'K2D', 'Raleway', sans-serif;
    
}

.flex-row {
    display: flex;
}


/* Header */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}





main {
    margin-top: 150px;
}


/* Hamburger menu */

.navbar-collapse {
    /*background-color: 50DC4B;*/
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-fixed-top .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: 50dc4b;
}










/*--Media Queries--*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* Mobile */
@media only screen and (max-width: 400px) {
  body {
    background-color: #f09a9d; /* red */
  }
  .flex-row {
      display: block;
  }
}

/* Tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #f5cf8e; /* yellow */
  }
}

/* Desktop */
@media only screen and (min-width: 961px) {
  body {
    background-color: #F5F5F5
   /* #daeaf9;  blue */
  }
  
}
